# Dependências de desenvolvimento e execução das funções
black
flake8
isort
pytest
mypy
pandas
pyarrow
google-cloud-bigquery>=3.12
db-dtypes
google-cloud-storage
pytz
requests
beautifulsoup4
tensorflow-cpu>=2.12,<3
backports.zoneinfo; python_version < "3.9"
