# Exemplo de variáveis de ambiente
GCP_PROJECT=ingestaokraken
# Tabela de fechamento diário utilizada pela função get_stock_data
BQ_TABLE=ingestaokraken.cotacao_intraday.cotacao_fechamento_diario
# A coleta intraday ocorre na tabela ingestaokraken.cotacao_intraday.cotacao_bovespa
GCP_REGION=us-central1
AWS_STATIC_IP=34.194.252.70
